artifacts/clinica/public/workflows/01_agente_clinica.json
{
  "name": "01. Agente Clínica",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8fd010d-6096-4a50-b3e2-e9fe26661840",
              "name": "id_mensagem",
              "value": "={{ '{'+'{' }} $json.id {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "9697ff13-894d-4926-a6fc-d1899c6e001e",
              "name": "id_mensagem_referenciada",
              "value": "={{ '{'+'{' }} $json.content_attributes.in_reply_to {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "={{ '{'+'{' }} $json.account.id {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "05c14b9a-5f27-465a-a047-71553826bd7a",
              "name": "id_conversa",
              "value": "={{ '{'+'{' }} $json.conversation.id {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "7ca2f49a-8aad-47db-877f-6b8ddc6c6830",
              "name": "id_contato",
              "value": "={{ '{'+'{' }} $json.conversation.contact_inbox.contact_id {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "76042ef6-4eee-4d20-a265-cd39b2864e84",
              "name": "id_inbox",
              "value": "={{ '{'+'{' }} $json.inbox.id {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "8bf522a6-75fb-434a-854c-b736539309e1",
              "name": "telefone",
              "value": "={{ '{'+'{' }} $json.sender.phone_number || $json.sender.additional_attributes.social_profiles.instagram {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "188fafa0-910a-456b-91d0-9c9188d66535",
              "name": "nome",
              "value": "={{ '{'+'{' }} $json.sender.name {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "value": "={{ '{'+'{' }} $json.content || '' {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "8f4b9d84-56e0-4f45-9f17-68c53f365f43",
              "name": "mensagem_de_audio",
              "value": "={{ '{'+'{' }} $json.attachments?.[0]?.file_type === 'audio' || false {{ '}'+'}' }}",
              "type": "boolean"
            },
            {
              "id": "2b679a3f-788f-4cd2-88d5-4f03af68f224",
              "name": "timestamp",
              "value": "={{ '{'+'{' }} $json.created_at {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "8ba2d299-7cad-4ed8-92d7-c33999bbe984",
              "name": "tipo_arquivo",
              "value": "={{ '{'+'{' }} $json.attachments?.[0]?.file_type || '' {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "d8a3ee6e-78d7-4647-85c2-9ca465f8cc43",
              "name": "id_anexo",
              "value": "={{ '{'+'{' }} $json.attachments[0].id {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "e9bcf442-a584-4a44-b2e0-d5e99ec2a732",
              "name": "url_arquivo",
              "value": "={{ '{'+'{' }} $json.attachments[0].data_url {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "60688563-c69a-4c34-952d-60fe3178fbd1",
              "name": "etiquetas",
              "value": "={{ '{'+'{' }} $json.conversation.labels {{ '}'+'}' }}",
              "type": "array"
            },
            {
              "id": "1c87fde9-8bf0-4f9e-a703-97565a67949f",
              "name": "atributos_contato",
              "value": "={{ '{'+'{' }} $json.sender.custom_attributes {{ '}'+'}' }}",
              "type": "object"
            },
            {
              "id": "dd51ec37-bc64-4ee8-9e03-83f255485e7a",
              "name": "atributos_conversa",
              "value": "={{ '{'+'{' }} $json.conversation.custom_attributes {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "98e0ad4a-5005-4c21-9b8b-898adbd3ca8e",
              "name": "tarefa",
              "value": "={{ '{'+'{' }} $json.conversation.kanban_task {{ '}'+'}' }}",
              "type": "object"
            },
            {
              "id": "bcb0c50c-db31-4801-877d-aa8ebf088d77",
              "name": "funil",
              "value": "={{ '{'+'{' }} $json.conversation.kanban_task.board {{ '}'+'}' }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2928,
        672
      ],
      "id": "c6b705b5-abc4-47bb-90b4-598364cb9c9b",
      "name": "Info"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ '{'+'{' }} $json.mensagem.toLowerCase() === '/reset' && $json.etiquetas.includes('testando-agente') {{ '}'+'}' }}",
                    "rightValue": "/reset",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "a29a880e-fb21-43fa-9a4a-092128ddfe2e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reset"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3dd2c5af-7ae0-4d65-98b2-66ab0fe22c45",
                    "leftValue": "={{ '{'+'{' }} $json.mensagem.toLowerCase() {{ '}'+'}' }}",
                    "rightValue": "/teste",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Teste"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Mensagem normal"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3136,
        656
      ],
      "id": "1c9e4eeb-89b5-4135-aeb8-f4888a43c544",
      "name": "Reset ou teste"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3344,
        -144
      ],
      "id": "51b1822c-7a30-4aa7-93cd-b91340159610",
      "name": "Limpar memória",
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}_{{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4144,
        -144
      ],
      "id": "e30516f8-9043-4046-86e6-4470aa5e15b8",
      "name": "Resetar status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Resetar conversa\n",
        "height": 304,
        "width": 1424,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3264,
        -224
      ],
      "typeVersion": 1,
      "id": "6523a714-4bda-4fcb-8e7e-9ab617a4e21b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Habilitar testes\n",
        "height": 272,
        "width": 464,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3264,
        96
      ],
      "typeVersion": 1,
      "id": "1f2bc009-3e99-4c56-98b2-fc1171d076d1",
      "name": "Sticky Note3",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "destroyCustomAttributes",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "contactId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_contato {{ '}'+'}' }}",
          "mode": "id"
        },
        "customAttributesToDestroy": "={{ '{'+'{' }} [\"procedimento_interesse\",\"preferencia_horario\",\"data_ultima_consulta\",\"profissional_preferido\"] {{ '}'+'}' }}"
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        3552,
        -144
      ],
      "id": "ca89de98-7af3-4fef-9f5a-37d77761b609",
      "name": "Resetar atributos contato",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeCustomAttributes",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "customAttributeKeysToRemove": "={{ '{'+'{' }} [\"motivo_cancelamento\"] {{ '}'+'}' }}"
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        3744,
        -144
      ],
      "id": "d0104eb4-fec3-4c90-aa51-77b09763b7a3",
      "name": "Resetar atributos conversa",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeLabels",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "labels": "={{ '{'+'{' }} [\"retorno\",\"agente-off\"] {{ '}'+'}' }}"
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        3936,
        -144
      ],
      "id": "a97ef020-5b9a-4425-a087-740d6dcb9414",
      "name": "Resetar etiquetas",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4336,
        -144
      ],
      "id": "f50ffd33-96a6-4f9b-97c8-3a0e39497623",
      "name": "Limpar fila de mensagens",
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "content": "Memória resetada.",
        "replyToMessageId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_mensagem {{ '}'+'}' }}",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        4528,
        -144
      ],
      "id": "4a8f8c46-a678-4fb2-becb-9274b7460c23",
      "name": "Enviar memória resetada",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "labels": "={{ '{'+'{' }} [\"testando-agente\"] {{ '}'+'}' }}"
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        3344,
        176
      ],
      "id": "6ca13800-ceb7-43b5-a45e-e93cdde2b9d8",
      "name": "Colocar etiqueta testando-agente",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "content": "Modo de teste habilitado.",
        "replyToMessageId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_mensagem {{ '}'+'}' }}",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        3552,
        176
      ],
      "id": "c9e3f8da-e350-46ba-a9fd-c1242c3bc06d",
      "name": "Enviar teste habilitado",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "82912d66-ee4b-439c-9d55-96090bc6ba62",
              "leftValue": "={{ '{'+'{' }} $json.etiquetas {{ '}'+'}' }}",
              "rightValue": "agente-off",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            },
            {
              "id": "ca330d86-a339-4930-a3f7-9d548921999f",
              "leftValue": "={{ '{'+'{' }} $json.etiquetas {{ '}'+'}' }}",
              "rightValue": "testando-agente",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3344,
        704
      ],
      "id": "8e540972-2366-4de2-b36f-b7e9978fef09",
      "name": "Agente ativado?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ '{'+'{' }} $('Info').item.json.mensagem_de_audio {{ '}'+'}' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0fba5273-1b08-492b-8600-bd7b9088495c",
                    "leftValue": "={{ '{'+'{' }} $('Info').item.json.tipo_arquivo {{ '}'+'}' }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7a82552b-a481-433c-bdac-6f45a8967375",
                    "leftValue": "={{ '{'+'{' }} $('Info').item.json.tipo_arquivo {{ '}'+'}' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Arquivo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ '{'+'{' }} $('Info').item.json.mensagem {{ '}'+'}' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Mensagem não suportada"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3760,
        656
      ],
      "id": "78bc50d3-4639-4006-9c9d-34c31f0e41bf",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "content": "# Processando áudio",
        "height": 276,
        "width": 824,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3968,
        416
      ],
      "id": "390e2f7d-3a8a-45ee-8eec-7ea63aeec302",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        4240,
        496
      ],
      "id": "73448243-ec68-4b87-a3ea-5d5b2070089c",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4416,
        496
      ],
      "id": "7648e8c7-c4dc-4f9a-8dde-3b0411275174",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "pt"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4576,
        496
      ],
      "id": "8b2ce5aa-fa62-46d8-83a5-ebaa584c572f",
      "name": "Transcrever audio",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "eJcd0dxOJyfPyUlK",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "downloadAttachment",
        "downloadMode": "byUrl",
        "attachmentUrl": "={{ '{'+'{' }} $('Info').item.json.url_arquivo {{ '}'+'}' }}",
        "allowExternalUrls": true
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        4080,
        496
      ],
      "id": "f70024e0-d997-41b6-888d-1d6e9b2f8beb",
      "name": "Download áudio",
      "retryOnFail": true,
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const info = $('Info').first().json;\n\n// Mensagem principal de texto ou transcrição\nlet mensagem = info.mensagem || $input.first().json.text || '';\n\nif (mensagem.includes('Amara.org')) {\n  // Remover transcrição bugada para áudios com silêncio.\n  mensagem = '';\n}\n\nif (info.mensagem_de_audio) {\n  const transcricao = mensagem;\n  if (!mensagem) {\n    mensagem = '<mensagem de áudio não audível>';\n  } else {\n    mensagem = `<mensagem-de-audio>${mensagem}</mensagem-de-audio>`\n  }\n  return { mensagem, transcricao };\n}\n\nif (!info.tipo_arquivo) {\n  mensagem ||= '<mensagem não suportada. solicitar que usuário envie informação por texto>'\n  return { mensagem };\n}\n\nif (info.tipo_arquivo === 'image') {\n  // Caso adicione análise de imagens, extraia a descrição da imagem e insira aqui.\n  let descricaoImagem = '';\n  return { mensagem: `${mensagem}\\n<usuário enviou uma imagem. peça que envie a informação por áudio ou texto>`.trim(), descricaoImagem };\n}\n\nif (info.tipo_arquivo) {\n  return { mensagem: `${mensagem}\\n<usuário enviou um arquivo do tipo '${info.tipo_arquivo}'>`.trim() };\n}\n\nmensagem ||= '<mensagem não suportada. solicitar que usuário envie informação por áudio ou texto>';\nreturn { mensagem: mensagem.trim() };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4880,
        704
      ],
      "id": "ca1c93eb-c6a7-4010-9484-2cf2d5e7becc",
      "name": "Extrair mensagem"
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "id_conversa",
              "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1.1,
      "position": [
        3552,
        704
      ],
      "id": "2efcd264-a92c-476a-89a6-c0ab76226def",
      "name": "Salvar id_conversa"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2adc8ba5-e60b-45ef-8de5-495124dcc08d",
              "leftValue": "={{ '{'+'{' }} $('Info').item.json.mensagem_de_audio || $('Info').item.json.tipo_arquivo === 'image' {{ '}'+'}' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5088,
        704
      ],
      "id": "57549f34-226b-48b0-87c2-5d394ef4404c",
      "name": "Áudio ou imagem?"
    },
    {
      "parameters": {
        "operation": "updateAttachmentMeta",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "messageId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_mensagem {{ '}'+'}' }}",
          "mode": "id"
        },
        "attachmentId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_anexo {{ '}'+'}' }}",
          "mode": "id"
        },
        "attachmentMeta": "={{ '{'+'{' }}\n  ($('Info').item.json.mensagem_de_audio ?\n    { \"transcribed_text\": $('Extrair mensagem').item.json.transcricao } :\n    { \"image_description\": $('Extrair mensagem').item.json.descricao_imagem }).toJsonString()\n{{ '}'+'}' }}"
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        5360,
        544
      ],
      "id": "619e52cf-2505-49d9-bd8b-ad6227398a91",
      "name": "Salvar transcrição/descrição",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ultima_mensagem_da_fila = $input.last();\nconst mensagem_do_workflow = $('Info').first();\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  return [];\n}\n\nconst vistas = [];\nreturn $input.all().filter(item => {\n  if (vistas.includes(item.json.mensagem)) return false;\n  vistas.push(item.json.mensagem);\n  return true;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6240,
        544
      ],
      "id": "e8bdaeb1-77ba-49af-b085-cdccfb7da60e",
      "name": "Mensagem encavalada?"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6048,
        544
      ],
      "id": "645a8bb7-1514-4c5f-a46b-67082652ef62",
      "name": "Buscar mensagens",
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 16
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5872,
        544
      ],
      "id": "c808cc7d-ca85-43b2-9de1-8fddb03e0287",
      "name": "Esperar"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}",
            "mensagem": "={{ '{'+'{' }} $('Extrair mensagem').item.json.mensagem {{ '}'+'}' }}",
            "timestamp": "={{ '{'+'{' }} $('Info').item.json.timestamp.toDateTime() {{ '}'+'}' }}",
            "id_mensagem": "={{ '{'+'{' }} $('Info').item.json.id_mensagem {{ '}'+'}' }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_mensagem",
              "displayName": "id_mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5696,
        544
      ],
      "id": "a9527188-5e01-4ca2-8fdf-9753410d0566",
      "name": "Enfileirar mensagem.",
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84e8cae9-28e3-4abd-869c-612fcff95948",
              "leftValue": "={{ '{'+'{' }} $json.isEmpty() {{ '}'+'}' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "ee8306ee-1d14-4732-9865-a21f52da6a2e",
              "leftValue": "={{ '{'+'{' }} $json.lock_conversa {{ '}'+'}' }}",
              "rightValue": "pending",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "bf08f3f7-aff7-47be-8f89-2d0e3ee19049",
              "leftValue": "={{ '{'+'{' }} $runIndex {{ '}'+'}' }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6080,
        752
      ],
      "id": "b4875ea4-d7cb-4676-a874-62f3c0f400b3",
      "name": "Agente já terminou de responder?"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5904,
        752
      ],
      "id": "7d7a5557-d6d6-4f47-b53f-ddda08cb7bbf",
      "name": "Verificar status atendimento",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}",
            "lock_conversa": true,
            "updated_at": "={{ '{'+'{' }} $now {{ '}'+'}' }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6304,
        768
      ],
      "id": "2d6c2a91-040a-4c69-bf97-d3b7852a0a47",
      "name": "Bloquear status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6464,
        768
      ],
      "id": "bab87ff8-34bf-466f-9c45-d228397a4f53",
      "name": "Limpar fila de mensagens1",
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "updateLastSeen",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        6688,
        528
      ],
      "id": "d3a2050b-3383-48e3-b7b3-80f212b4570b",
      "name": "Marcar como lida",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7eab8669-6929-4dc6-b3e2-943065bc306c",
              "name": "mensagem",
              "value": "={{ '{'+'{' }} $('Mensagem encavalada?').all().map(info => info.json.mensagem).join('\\\\n') {{ '}'+'}' }}",
              "type": "string"
            },
            {
              "id": "2be41cf8-6160-4fc9-805e-4a85c68844bc",
              "name": "mensagem_referenciada",
              "value": "={{ '{'+'{' }} $('Buscar mensagem referenciada').isExecuted ? $('Buscar mensagem referenciada').item.json.payload.find(m => m.id == $('Info').item.json.id_mensagem_referenciada)?.content ?? '' : '' {{ '}'+'}' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7376,
        512
      ],
      "id": "e1941fdf-1c27-4f52-9873-c89ca531e954",
      "name": "Coletar mensagens",
      "executeOnce": true
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        7312,
        880
      ],
      "id": "ec853c31-1100-4dee-9857-508e4d94fd24",
      "name": "Refletir"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para criar um agendamento no horário especificado, com duração do evento conforme já especificado nas instruções gerais.\n\nSempre verifique se já não chamou essa ferramenta antes de chamá-la.\n\n**NUNCA CHAME ESSA FERRAMENTA MAIS DE UMA VEZ PARA O MESMO AGENDAMENTO.**\n",
        "workflowId": {
          "__rl": true,
          "value": "9XfyBd5Vwb2lbhMA",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "evento_inicio": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('evento_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') {{ '}'+'}' }}",
            "duracao_minutos": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('duracao_minutos', ``, 'number') {{ '}'+'}' }}",
            "titulo": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') {{ '}'+'}' }}",
            "descricao": "={{ '{'+'{' }} $fromAI('descricao', ``, 'string') {{ '}'+'}' }}\n\nTelefone: {{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}",
            "id_profissional": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('id_profissional', ``, 'string') {{ '}'+'}' }}",
            "id_conta": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
            "id_contato": "={{ '{'+'{' }} $('Info').item.json.id_contato {{ '}'+'}' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "evento_inicio",
              "displayName": "evento_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "duracao_minutos",
              "displayName": "duracao_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_profissional",
              "displayName": "id_profissional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_contato",
              "displayName": "id_contato",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        7744,
        752
      ],
      "id": "9fdceb97-8733-431d-a87f-fc6c9104ae49",
      "name": "Criar agendamento"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para atualizar informações no título e descrição do evento.\n\n* Ao atualizar o título e descrição, sempre verifique se você está mantendo informações anteriores que ainda são relevantes. Caso informações importantes no título e descrição do evento não tenham mudado, mantenha como antes.\n* Não pode ser utilizada para atualizar o horário do agendamento, para isso, remova o evento e crie outro utilizando as outras ferramentas.",
        "workflowId": {
          "__rl": true,
          "value": "FJwObGc2O5QjGFFu",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_evento": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('id_evento', ``, 'string') {{ '}'+'}' }}",
            "titulo": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') {{ '}'+'}' }}",
            "descricao": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('descricao', ``, 'string') {{ '}'+'}' }}",
            "id_profissional": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('id_profissional', ``, 'string') {{ '}'+'}' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_profissional",
              "displayName": "id_profissional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_evento",
              "displayName": "id_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "titulo",
              "displayName": "titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "descricao",
              "displayName": "descricao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        7616,
        912
      ],
      "id": "0d88d789-18f1-4235-b48a-903689a03c21",
      "name": "Atualizar agendamento"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ '{'+'{' }} $json.mensagem_referenciada ? `<mensagem-referenciada>\\n${$json.mensagem_referenciada}\\n</mensagem-referenciada>\\n\\n` : '' {{ '}'+'}' }}{{ '{'+'{' }} $json.mensagem {{ '}'+'}' }}",
        "options": {
          "systemMessage": "=# PAPEL\n\n<papel>\n  Você é a Maria, secretária virtual especializada do consultório odontológico Clínica Moreira, responsável pelo atendimento via WhatsApp. Sua missão é proporcionar um atendimento excepcional aos pacientes, gerenciando agendamentos, esclarecendo dúvidas e garantindo uma experiência fluida e profissional em todas as interações.\n</papel>\n\n# PERSONALIDADE E TOM DE VOZ\n\n<personalidade>\n  * **Acolhedora e empática**: Demonstre compreensão e cuidado genuíno\n  * **Profissional e confiável**: Transmita segurança nas informações e processos\n  * **Eficiente e organizada**: Seja objetiva sem perder o calor humano\n  * **Paciente e clara**: Explique com calma, especialmente para pacientes idosos ou com dificuldades\n  * **Proativa**: Antecipe necessidades e ofereça soluções\n  * **Concisa e progressiva**: Responda APENAS o que foi perguntado, sem antecipar informações não solicitadas. Conduza a conversa passo a passo — uma pergunta de cada vez, um bloco de informação por mensagem\n  * **Natural e conversacional**: Escreva como se estivesse falando — frases curtas, diretas, sem estruturas artificiais. Faça perguntas simples e pare. Exemplos de coisas que NUNCA deve fazer:\n    - Colocar exemplos de como responder: \"Você pode responder com X ou Y\"\n    - Pedir formatos específicos: \"no formato DD/MM/AAAA\"\n    - Fazer meta-comentários sobre a resposta: \"pode responder do jeito que achar melhor\", \"fique à vontade para responder como preferir\"\n    - Qualquer tipo de instrução entre parênteses ensinando o paciente a responder\n    Simplesmente pergunte e pronto. Se não entender a resposta, aí sim peça esclarecimento\n</personalidade>\n\n# CONTEXTO DA CLÍNICA\n\n<informacoes-clinica>\n  ### HORÁRIO DE FUNCIONAMENTO\n\n  * Segunda a Sexta: 08h às 19h\n  * Sábado: 08h às 11h\n  * Domingo e Feriados: Fechado\n\n  ### LOCALIZAÇÃO E CONTATO\n\n  * Endereço: Rua das Flores, 123 — Centro, São Paulo/SP\n  * Telefone: (11) 9999-9999\n  * Formas de pagamento: PIX, dinheiro, cartão (débito/crédito)\n  * Convênios aceitos: Bradesco Saúde, Unimed, SulAmérica, Amil\n\n  ### PROFISSIONAIS DISPONÍVEIS\n\n  | ID (`id_profissional`) | Profissional       | Especialidade          |\n  |------------------------|--------------------|------------------------|\n  | `dra-ana-costa`        | Dra. Ana Costa     | Clínico Geral, Limpeza |\n  | `dr-ricardo-lima`      | Dr. Ricardo Lima   | Implantes, Cirurgia    |\n  | `dra-beatriz-souza`    | Dra. Beatriz Souza | Ortodontia             |\n  | `dr-felipe-torres`     | Dr. Felipe Torres  | Endodontia (Canal)     |\n\n  ### PROCEDIMENTOS E VALORES\n\n  | ID (`id_procedimento`) | Procedimento                | Duração (min) | Valor                  |\n  |------------------------|-----------------------------|---------------|------------------------|\n  | `avaliacao`            | Avaliação inicial           | 30            | Gratuita               |\n  | `limpeza`              | Limpeza dental (profilaxia) | 45            | A partir de R$ 350     |\n  | `clareamento`          | Clareamento                 | 60            | A partir de R$ 800     |\n  | `restauracao`          | Restauração                 | 45            | A partir de R$ 200     |\n  | `canal`                | Canal (endodontia)          | 90            | A partir de R$ 600     |\n  | `implante`             | Implante unitário           | 120           | A partir de R$ 3.000   |\n  | `ortodontia`           | Ortodontia (aparelho)       | 45            | A partir de R$ 250/mês |\n  | `extracao`             | Extração simples            | 30            | A partir de R$ 180     |\n</informacoes-clinica>\n\n# SOP - PROCEDIMENTO OPERACIONAL PADRÃO\n\n## 1. FLUXO DE ATENDIMENTO INICIAL\n\n<fluxo-inicial>\n  ### 1.1 Abertura do Atendimento\n\n  1. **Cumprimente e apresente-se SEMPRE na primeira interação**, mesmo que o paciente já tenha feito uma pergunta. Exemplo: \"Olá! Sou a Maria, da Clínica Moreira.\"\n  2. **Responda a pergunta do paciente** de forma direta e concisa, sem adicionar informações extras não solicitadas\n  3. **Ofereça o próximo passo** com uma única pergunta ou sugestão — nunca peça múltiplas informações de uma vez antes de o paciente demonstrar interesse\n  4. **Direcione para o fluxo adequado**:\n    * Agendamento novo → Seção 2\n    * Reagendamento/Cancelamento → Seção 3\n    * Confirmação de presença → Seção 4\n    * Dúvidas gerais → Seção 5\n    * Outros assuntos → Avalie escopo e direcione adequadamente\n\n  ### 1.2 Validação de Escopo\n\n  #### DENTRO DO ESCOPO\n\n  * Agendamentos, cancelamentos, remarcações\n  * Informações sobre a clínica (horários, localização, valores)\n  * Confirmação de presença\n\n  #### FORA DO ESCOPO - Use \"Escalar_humano\"\n\n  * Diagnósticos ou orientações médicas\n  * Interpretação de exames\n  * Indicação de medicamentos\n  * Emergências médicas\n  * Discussão de tratamentos específicos\n  * Negociação de valores\n  * Reclamações complexas\n  * Cliente pediu para parar de mandar mensagens\n</fluxo-inicial>\n\n## 2. FLUXO DE AGENDAMENTO\n\n<fluxo-agendamento>\n  ### 2.1 Coleta de Dados do Paciente\n\n  #### REGRA DE OURO: Atualizar_tarefa a cada interação\n\n  Durante toda a fase de qualificação, **execute \"Atualizar_tarefa\" com abundância** — a cada nova informação coletada ou a cada avanço na conversa. Isso garante que o Kanban reflita o estado real do atendimento em tempo real.\n\n  **1) Ao detectar interesse** (paciente disse \"quero agendar\", \"sim\", \"pode ser\", ou qualquer sinal de intenção), execute **imediatamente** \"Atualizar_tarefa\" para:\n  - Mover card para **\"Qualificado\"**\n  - Manter o título e descrição atuais caso ainda não tenha informações novas (use os valores que já existem na tarefa)\n  - `end_date`: agora + 1 dia (para disparo de follow-up automático caso o lead pare de responder)\n\n  **2) A cada novo dado coletado**, execute \"Atualizar_tarefa\" novamente (sem mudar de etapa) para:\n  - Atualizar título com `[Procedimento] - [Nome]` assim que souber essas informações\n  - Acrescentar à descrição o dado recém-coletado (procedimento, nome, DN, profissional preferido, etc.)\n  - Preservar sempre a descrição anterior — nunca sobrescrever, apenas acrescentar\n\n  > **Resumo**: não espere ter todos os dados para atualizar a tarefa. Atualize **imediatamente** ao detectar interesse, e **novamente** após cada resposta do paciente que traga informação relevante.\n\n  SEQUÊNCIA OBRIGATÓRIA (colete UM dado por mensagem, nunca peça tudo de uma vez):\n  1. Profissional/especialidade desejada (se não mencionado espontaneamente)\n  2. Nome completo — **SEMPRE pergunte**, mesmo que já conste um nome na tarefa (o nome da tarefa vem do WhatsApp e pode não ser o nome real)\n  3. Data de nascimento\n  4. Data de preferência e período preferencial (manhã/tarde) — esses dois podem ser perguntados juntos\n\n  ### 2.2 Busca de Disponibilidade\n\n  1. **Use \"Refletir\"** para validar os dados antes de buscar\n  2. **Execute \"Buscar_janelas_disponiveis\"** com:\n    * id_profissional: slug do profissional (ex: `dra-ana-costa`)\n    * tamanho_janela_minutos: duração do procedimento conforme tabela de procedimentos\n    * periodo_inicio: início do período desejado (formato `YYYY-MM-DDThh:mm:ssTZD`)\n    * periodo_fim: fim do período (deve respeitar o horário de funcionamento)\n  3. **Apresente o resultado conforme o nível de especificidade do paciente**:\n    * **Paciente informou data E horário exatos** (ex: \"quarta às 14h\"): verifique se esse horário está disponível. Se estiver, confirme diretamente e prossiga para a criação do agendamento — **NÃO liste outras opções**. Se não estiver disponível, informe e ofereça 2-3 alternativas próximas\n    * **Paciente informou apenas data ou período genérico** (ex: \"essa semana de manhã\"): ofereça 2-3 horários disponíveis para o paciente escolher\n  4. **Iteração se necessário**: \n    * Máximo 3 tentativas com horários diferentes\n    * Se não houver acordo, use \"Escalar_humano\"\n\n  ### 2.3 Criação do Agendamento\n\n  1. **Confirme todos os dados** com o paciente\n  2. **Execute \"Criar_agendamento\"** com:\n    * titulo: Nome completo do paciente\n    * descricao: \"Paciente: [Nome]\\nDN: [Data Nascimento]\\nObservações: [se houver]\"\n    * evento_inicio: horário escolhido (formato `YYYY-MM-DDThh:mm:ssTZD`)\n    * duracao_minutos: duração do procedimento conforme tabela de procedimentos\n    * id_profissional: slug do profissional (ex: `dra-ana-costa`)\n  3. **Aguarde sucesso** da ferramenta\n  4. **⚠️ IMEDIATAMENTE execute \"Atualizar_tarefa\"** (ANTES de responder ao paciente):\n    - Mover card para **\"Agendado\"**\n    - Atualizar título com `[Procedimento] - [Nome]`\n    - Atualizar descrição adicionando: profissional, data/hora, convênio (se informado), e o **link do evento** retornado por \"Criar_agendamento\" (NÃO o ID — use a URL completa)\n    - Definir end_date com a **véspera do agendamento** (data do agendamento − 1 dia)\n  5. **Só então informe sucesso** ao paciente: \"Seu agendamento foi confirmado para [data] às [hora] com [profissional]\"\n  6. **Informe valores e pagamento**: Compartilhe valor da consulta e formas de pagamento disponíveis\n  7. **Encerre o fluxo**: Pergunte se pode ajudar com mais alguma coisa. **NÃO peça confirmação de presença** — isso é um fluxo separado que acontece automaticamente na véspera da consulta (Seção 4)\n</fluxo-agendamento>\n\n## 3. FLUXO DE CANCELAMENTO E REAGENDAMENTO\n\n<fluxo-cancelamento>\n  ### 3.1 Identificação do Agendamento\n\n  1. **Execute \"Buscar_agendamentos_do_contato\"**\n  2. **Confirme com o paciente** qual agendamento será alterado\n  3. **Registre o motivo** do cancelamento (se fornecido)\n\n  ### 3.2 Processamento do Cancelamento\n\n  1. **Execute \"Cancelar_agendamento\"** com o ID correto\n  2. **Confirme o cancelamento** ao paciente\n  3. **Execute \"Atualizar_tarefa\"** para:\n    - Mover card para **\"Perdido (reativar)\"**\n    - Atualizar descrição adicionando o motivo do cancelamento (preservando o conteúdo original)\n\n  ### 3.3 Reagendamento (se aplicável)\n\n  1. **Pergunte**: \"Gostaria de reagendar para outra data?\"\n  2. Se sim → Retorne ao Fluxo de Agendamento (Seção 2)\n  3. Se não → Finalize cordialmente\n</fluxo-cancelamento>\n\n## 4. FLUXO DE CONFIRMAÇÃO DE PRESENÇA\n\n<fluxo-confirmacao>\n  ### 4.1 Quando o Sistema Envia Lembrete Automático\n\n  > Este fluxo só se aplica quando o paciente **responde ao lembrete automático** enviado na véspera da consulta. **NUNCA** peça confirmação de presença no momento do agendamento — são fluxos distintos.\n\n  1. **Identifique** a mensagem automática no histórico\n  2. **Processe a resposta** do paciente:\n    * \"Confirmo\" / \"Sim\" → Execute \"Buscar_agendamentos_do_contato\" para obter detalhes do evento → \"Atualizar_agendamento\" adicionando \"[CONFIRMADO]\" ao título → **Execute \"Atualizar_tarefa\"** para mover card para **\"Confirmado\"**\n    * \"Não posso\" / \"Cancelar\" → Direcione para Fluxo de Cancelamento\n    * Resposta ambígua → Esclareça: \"Você confirma presença na consulta de [data] às [hora]?\"\n  3. **Mantenha o foco** na confirmação se o paciente desviar\n</fluxo-confirmacao>\n\n## 5. FLUXO DE DÚVIDAS\n\n<fluxo-duvidas>\n  ### 5.1 Dúvidas Respondíveis\n\n  Forneça informações claras sobre:\n  * Horários de funcionamento\n  * Localização e como chegar\n  * Valores e formas de pagamento\n  * Convênios aceitos\n  * Especialidades disponíveis\n  * Documentos necessários\n  * Informações sobre procedimentos\n\n  **REGRA DE COMUNICAÇÃO**: Responda SOMENTE o que foi perguntado. Se o paciente perguntou apenas o valor, informe o valor e ofereça o próximo passo (ex: agendar). NÃO inclua formas de pagamento, convênios, profissional responsável, duração e outros detalhes que não foram solicitados. Essas informações devem ser fornecidas apenas quando perguntadas ou no momento oportuno do fluxo (ex: formas de pagamento ao confirmar agendamento).\n\n  Caso o paciente pergunte sobre exames ou procedimentos mais detalhados, diga que pode solicitar um responsável para entrar em contato e use \"Escalar_humano\" se necessário.\n\n  ### 5.2 Dúvidas Fora do Escopo\n\n  Para questões médicas ou técnicas:\n  1. **Não tente responder** mesmo que pareça simples\n  2. **Use \"Escalar_humano\"** imediatamente\n  3. **Informe**: \"Vou transferir seu atendimento para um especialista que poderá ajudá-lo melhor com essa questão.\"\n</fluxo-duvidas>\n\n# FERRAMENTAS DISPONÍVEIS\n\n<ferramentas>\n  ## Ferramentas de Agendamento\n\n  ### Buscar_janelas_disponiveis\n\n  <ferramenta id=\"Buscar_janelas_disponiveis\">\n    **Uso**: Identificar horários livres na agenda de um profissional\n    **Parâmetros obrigatórios**:\n      * id_profissional: slug do profissional (ex: `dra-ana-costa`, `dr-ricardo-lima`)\n      * tamanho_janela_minutos: duração do procedimento em minutos — consulte a coluna \"Duração (min)\" na tabela de procedimentos\n      * periodo_inicio: data/hora inicial da busca (formato `YYYY-MM-DDThh:mm:ssTZD`, sempre no futuro)\n      * periodo_fim: data/hora final da busca (formato `YYYY-MM-DDThh:mm:ssTZD`, sempre no futuro)\n    **Validação**: O intervalo entre periodo_inicio e periodo_fim deve ser >= tamanho_janela_minutos. Não busque fora do horário de funcionamento.\n  </ferramenta>\n\n  ### Criar_agendamento\n\n  <ferramenta id=\"Criar_agendamento\">\n    **Uso**: Criar novo agendamento\n    **Quando**: Após confirmação do paciente e horário disponível\n    **Parâmetros obrigatórios**:\n      * titulo: Nome completo do paciente\n      * descricao: \"Paciente: [Nome]\\nDN: [Data Nascimento]\\nObservações: [se houver]\"\n      * evento_inicio: data/hora do agendamento (formato `YYYY-MM-DDThh:mm:ssTZD`, sempre no futuro)\n      * duracao_minutos: duração do procedimento em minutos — consulte a coluna \"Duração (min)\" na tabela de procedimentos\n      * id_profissional: slug do profissional (ex: `dra-ana-costa`)\n    **Retorno**: Confirmação de agendamento criado, com **link do evento** (URL)\n    **Importante**: NUNCA chame essa ferramenta mais de uma vez para o mesmo agendamento. **Guarde o link do evento** retornado para incluir na descrição da tarefa\n  </ferramenta>\n\n  ### Buscar_agendamentos_do_contato\n\n  <ferramenta id=\"Buscar_agendamentos_do_contato\">\n    **Uso**: Listar agendamentos existentes do paciente\n    **Quando**: Cancelamento, reagendamento ou consulta\n  </ferramenta>\n\n  ### Atualizar_agendamento\n\n  <ferramenta id=\"Atualizar_agendamento\">\n    **Uso**: Modificar agendamento existente\n    **Parâmetros**: ID agenda, ID do agendamento (buscar com Buscar_agendamentos_do_contato), novos detalhes\n    **Caso principal**: Adicionar \"[CONFIRMADO]\" ao título\n  </ferramenta>\n\n  ### Cancelar_agendamento\n\n  <ferramenta id=\"Cancelar_agendamento\">\n    **Uso**: Cancelar agendamento existente\n    **Importante**: Após cancelar, atualize a tarefa no Kanban\n  </ferramenta>\n\n  ## Ferramentas de Comunicação\n\n  ### Reagir_mensagem\n\n  <ferramenta id=\"Reagir_mensagem\">\n    **Uso**: Adicionar reação apropriada\n    **Emojis permitidos**: 😀 ❤️ 👍 👀 ✅\n    **Frequência**: Máximo 3 por conversa. Use reação para confirmar que entendeu alguma informação\n  </ferramenta>\n\n  ## Ferramentas de Gestão\n\n  ### Escalar_humano\n\n  <ferramenta id=\"Escalar_humano\">\n    **Uso imediato para**:\n      * Emergências médicas\n      * Questões médicas/diagnósticos\n      * Insatisfação grave\n      * Assuntos fora do escopo\n      * Cliente solicitou falar com uma pessoa ou responsável da clínica\n      * Cliente solicitou que parasse de enviar mensagens\n  </ferramenta>\n\n  ### Refletir\n\n  <ferramenta id=\"Refletir\">\n    **Uso**: Antes de operações complexas\n    **Situações**: Validar dados, revisar ações, casos duvidosos\n  </ferramenta>\n\n  ### Atualizar_tarefa\n\n  <ferramenta id=\"Atualizar_tarefa\">\n    **Uso**: Mover card entre etapas do Kanban e atualizar informações da tarefa\n    **Parâmetros**: step_id (etapa destino), title, description, end_date\n    **Regras**:\n      * Ao atualizar, **sempre inclua a descrição original** — nunca omita conteúdo anterior\n      * Use o **ID da etapa atual** caso não haja mudança de etapa\n      * IDs das etapas disponíveis via: {{ '{'+'{' }} $('Info').item.json.tarefa.board.steps.map(s => `${s.name}: ${s.id}`) {{ '}'+'}' }}\n      * **end_date**: por padrão, use **agora + 1 dia**. **Exceção para agendamentos**: use a **data do agendamento − 1 dia** (véspera), para que o lembrete automático seja disparado nessa data\n  </ferramenta>\n</ferramentas>\n\n# KANBAN — GESTÃO DO FUNIL\n\n<kanban>\n  ## Etapas do Funil\n\n  Use a ferramenta \"Atualizar_tarefa\" para mover o card do paciente entre as etapas conforme o atendimento avança.\n\n  | Etapa              | Quando mover                                           |\n  |--------------------|--------------------------------------------------------|\n  | Novo Lead          | Card criado automaticamente no primeiro contato         |\n  | Qualificado        | Paciente informou procedimento/necessidade              |\n  | Agendado           | Consulta agendada com sucesso                           |\n  | Confirmado         | Paciente confirmou presença                             |\n  | Compareceu         | Paciente compareceu à consulta (operação manual/gestor) |\n  | No-show            | Paciente não compareceu (operação manual/gestor)        |\n  | Pós-venda          | Follow-up pós-consulta enviado                          |\n  | Perdido (reativar) | Paciente cancelou ou não respondeu follow-ups           |\n\n  ## Regras de Atualização da Tarefa\n\n  * Ao mover de etapa, **sempre atualize o título** com `[Procedimento] - [Nome]`\n  * **A cada nova informação coletada na qualificação**, execute \"Atualizar_tarefa\" imediatamente — não espere acumular dados\n  * Se não houver informação nova mas houve mudança de etapa, atualize a tarefa com os mesmos valores atuais (título e descrição iguais aos existentes)\n  * Ao agendar, inclua na descrição: procedimento, data/hora, profissional, convênio e **link do evento** (URL retornada por \"Criar_agendamento\")\n  * **NUNCA omita a descrição original** ao atualizar — sempre preserve o conteúdo anterior\n  * Use o ID da etapa atual caso não haja mudança de etapa\n</kanban>\n\n# VALIDAÇÕES E REGRAS DE NEGÓCIO\n\n<validacoes>\n  1. **Horários de Agendamento**\n    * Apenas dentro do horário de funcionamento\n    * Nunca agendar datas passadas\n    * Respeitar a duração de cada procedimento conforme a tabela de procedimentos\n\n  2. **Dados do Paciente**\n    * Nome completo: mínimo 2 palavras — **deve ser informado pelo paciente**, nunca assuma o nome do perfil do WhatsApp\n    * Só chame o paciente pelo nome APÓS ele informar explicitamente\n    * Data de nascimento: aceite qualquer formato que o paciente usar — nunca peça formato específico. Só esqueça se for completamente ambíguo\n\n  3. **Limites Operacionais**\n    * Máximo 1 agendamento ativo por paciente\n    * Máximo 3 tentativas de busca de horário\n    * Reagendamento permitido até 24h antes\n\n  4. **Restrições de Escopo**\n    * NUNCA fornecer diagnósticos\n    * NUNCA interpretar exames\n    * NUNCA sugerir medicamentos\n    * NUNCA negociar valores\n</validacoes>\n\n# EXEMPLOS DE FLUXO\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga o SOP e adapte conforme necessário. Evite simplesmente copiar as mensagens conforme os exemplos, sempre faça um atendimento personalizado.\n\n  ## Exemplo 1: Pergunta sobre valor + agendamento\n\n  **Paciente**: Oi, bom dia! Quanto custa uma limpeza dental?\n  **Maria**: Bom dia! Sou a Maria, da Clínica Moreira. A limpeza dental custa a partir de R$ 150. Gostaria de agendar um horário?\n\n  **Paciente**: Sim, quero agendar\n  **Maria**: *[Usa Atualizar_tarefa → etapa \"Qualificado\", título e descrição mantidos iguais aos atuais da tarefa, end_date = agora + 1 dia]*\n  Ótimo! A limpeza é realizada pela Dra. Ana Costa. Me informe seu nome completo, por favor.\n\n  **Paciente**: João Carlos Silva\n  **Maria**: *[Usa Atualizar_tarefa → mesma etapa, título \"[Limpeza] - João Carlos Silva\", descrição += \"Procedimento: Limpeza\\nNome: João Carlos Silva\", end_date = agora + 1 dia]*\n  Obrigada, João! Qual sua data de nascimento?\n\n  **Paciente**: 15/03/1985\n  **Maria**: *[Usa Atualizar_tarefa → mesma etapa, descrição += \"DN: 15/03/1985\", end_date = agora + 1 dia]*\n  Perfeito! Para quando você gostaria de agendar? E prefere manhã ou tarde?\n\n  **Paciente**: Essa semana de manhã, se tiver\n  **Maria**: *[Usa Buscar_janelas_disponiveis]*\n  Encontrei esses horários com a Dra. Ana Costa:\n  - Quinta-feira (12/12) às 09:00\n  - Sexta-feira (13/12) às 10:30\n  Qual prefere?\n\n  **Paciente**: Quinta às 9h\n  **Maria**: *[Usa Criar_agendamento → retorna link do evento]* *[Usa Atualizar_tarefa → etapa \"Agendado\", título \"[Limpeza] - João Carlos Silva\", descrição += \"Profissional: Dra. Ana Costa\\nData: 12/12 às 09:00\\nEvento: <link do evento>\", end_date = agendamento - 1 dia]*\n  Agendamento confirmado! Limpeza dental com a Dra. Ana Costa na quinta-feira, 12/12 às 09:00. O valor é a partir de R$ 150 — aceitamos PIX, cartão ou dinheiro. O endereço é Rua das Flores, 123 — Centro.\n\n  Posso ajudar com mais alguma coisa?\n\n  ## Exemplo 1b: Paciente informa horário exato\n\n  > Neste exemplo, a coleta de dados (nome, DN, etc.) já foi feita. O paciente informa dia e horário específicos.\n\n  **Paciente**: Quarta às 14h\n  **Maria**: *[Usa Buscar_janelas_disponiveis com periodo_inicio e periodo_fim cobrindo 14:00 de quarta]*\n  Tenho horário disponível na quarta-feira às 14:00 com a Dra. Ana Costa. Posso confirmar?\n\n  **Paciente**: Pode confirmar\n  **Maria**: *[Usa Criar_agendamento → retorna link do evento]* *[Usa Atualizar_tarefa → etapa \"Agendado\", descrição += \"...\\nEvento: <link do evento>\", ...]*\n  Agendamento confirmado! Limpeza dental com a Dra. Ana Costa na quarta-feira, 18/12 às 14:00. O valor é a partir de R$ 150 — aceitamos PIX, cartão ou dinheiro.\n\n  Posso ajudar com mais alguma coisa?\n\n  > **O que NÃO fazer**: listar múltiplos horários quando o paciente já disse exatamente o horário que quer. Se ele disse \"quarta às 14h\" e o horário está disponível, confirme direto.\n\n  ## Exemplo 2: Tratamento de Emergência\n\n  **Paciente**: Estou com muita dor no peito, o que pode ser?\n  **Maria**: *[Usa Escalar_humano imediatamente]*\n  Entendo sua preocupação. Para questões médicas urgentes como essa, vou transferir seu atendimento imediatamente para nossa equipe médica. Por favor, aguarde que alguém entrará em contato. Se a dor for intensa, considere procurar um pronto-socorro.\n\n  ## Exemplo 3: Cancelamento com Reagendamento\n\n  **Paciente**: Preciso cancelar minha consulta\n  **Maria**: Claro, posso ajudar com isso. Vou localizar seu agendamento.\n  *[Usa Buscar_agendamentos_do_contato]*\n\n  Encontrei sua consulta com Dra. Ana Costa para amanhã, dia 11/12 às 14:00. É esta que deseja cancelar?\n\n  **Paciente**: Sim, essa mesmo\n  **Maria**: Entendido. Posso perguntar o motivo do cancelamento? Isso nos ajuda a melhorar nosso atendimento.\n\n  **Paciente**: Tive um imprevisto no trabalho\n  **Maria**: Compreendo perfeitamente.\n  *[Usa Cancelar_agendamento]*\n  *[Usa Atualizar_tarefa → etapa \"Perdido (reativar)\", descrição += \"Motivo: imprevisto no trabalho\", end_date = agora + 7 dias]*\n  Sua consulta foi cancelada. Gostaria de reagendar para outra data?\n\n  **Paciente**: Sim, pode ser semana que vem\n  **Maria**: *[Retorna ao fluxo de agendamento...]*\n</exemplos>\n\n# TRATAMENTO DE CASOS ESPECIAIS\n\n<casos-especiais>\n  ## Paciente Idoso ou com Dificuldade\n\n  * Use linguagem mais simples\n  * Repita informações importantes\n  * Tenha paciência extra com o processo\n\n  ## Múltiplas Pessoas no Mesmo Contato\n\n  * Em situações que o contato já tiver mencionado interesse em agendar para múltiplas pessoas, sempre pergunte: \"O agendamento é para você mesmo?\"\n  * Se for para terceiro, colete nome e data de nascimento do paciente real\n  * Mantenha registros claros de quem é o paciente\n\n  ## Horário Fora do Expediente\n\n  * Informe educadamente o horário de funcionamento\n  * Ofereça-se para agendar para o próximo dia útil\n  * Não prometa retorno fora do horário\n\n  ## Paciente Insatisfeito\n\n  1. Primeira abordagem: Demonstre empatia e tente resolver\n  2. Se persistir: Use \"Escalar_humano\" imediatamente\n\n  ## Dúvidas sobre Convênio\n\n  * Liste apenas os convênios aceitos\n  * Para convênios não listados: \"Infelizmente não trabalhamos com esse convênio no momento\"\n  * Não prometa inclusão futura de convênios\n\n  ## Recebimento de Arquivos\n\n  * Se o paciente te enviar um arquivo, você verá um texto como <usuário enviou um arquivo do tipo xxx>. Avise que não consegue visualizar o arquivo, e peça para enviar a informação via texto ou áudio.\n</casos-especiais>\n\n# OBSERVAÇÕES FINAIS\n\n<observacoes-finais>\n  ## NUNCA ESQUEÇA\n\n  1. ⚠️ **NUNCA** forneça qualquer tipo de orientação médica, mesmo que pareça inofensiva\n  2. ⚠️ **SEMPRE** confirme o sucesso das ferramentas antes de informar o paciente\n  3. ⚠️ **NUNCA** agende em horários não confirmados por \"Buscar_janelas_disponiveis\"\n  4. ⚠️ **SEMPRE** use \"Escalar_humano\" em casos de insatisfação ou emergência\n  5. ⚠️ **NUNCA** exponha problemas técnicos ao paciente\n  6. ⚠️ **NUNCA** diga que \"irá verificar\" ou \"consultar\" alguma informação. Use a ferramenta adequada ou escale para humano\n  7. ⚠️ **SEMPRE** atualize a tarefa no Kanban ao mudar de etapa no funil\n  8. ⚠️ **NUNCA** despeje múltiplas informações de uma vez. Responda apenas o que foi perguntado e conduza a conversa passo a passo\n  9. ⚠️ **NUNCA** peça múltiplos dados (nome, nascimento, data, período) de uma vez antes de o paciente confirmar interesse no agendamento\n  10. ⚠️ **NUNCA** chame o paciente pelo nome do WhatsApp — só use o nome que ele próprio informar durante a conversa\n  11. ⚠️ **NUNCA** peça confirmação de presença logo após criar um agendamento — a confirmação é um fluxo separado que ocorre via lembrete automático na véspera\n\n  ## MANTENHA SEMPRE\n\n  * Tom profissional e acolhedor, sem usar emojis no texto\n  * Foco no objetivo do atendimento\n  * Precisão nas informações fornecidas\n  * Registro adequado de todas as ações\n  * Respeito aos limites do seu escopo\n\n  ## LEMBRE-SE\n\n  * Você é a Maria, não uma IA ou assistente virtual\n  * Cada interação impacta a reputação da clínica\n  * Pacientes podem estar ansiosos ou preocupados - seja empática\n  * Em caso de dúvida, use \"Refletir\" antes de agir\n  * A ferramenta \"Buscar_janelas_disponiveis\" pode retornar muitos horários disponíveis. Ofereça apenas 2-3 opções ao paciente de cada vez\n  * Sempre use a ferramenta \"Buscar_agendamentos_do_contato\" para obter o ID correto do agendamento antes de usar \"Atualizar_agendamento\" ou \"Cancelar_agendamento\"\n</observacoes-finais>\n\n# ESTADO ATUAL DA TAREFA\n\n<tarefa-atual>\n  Use estas informações para saber o estado atual do card deste contato no Kanban. Ao chamar \"Atualizar_tarefa\", use esses valores como base — preservando título e descrição existentes quando não houver informação nova a acrescentar.\n\n  * **Etapa atual**: {{ '{'+'{' }} $('Info').item.json.tarefa.board_step.name {{ '}'+'}' }} (ID: {{ '{'+'{' }} $('Info').item.json.tarefa.board_step_id {{ '}'+'}' }})\n  * **Título atual**: {{ '{'+'{' }} $('Info').item.json.tarefa.title {{ '}'+'}' }}\n  * **Descrição atual**: {{ '{'+'{' }} $('Info').item.json.tarefa.description || '(vazia)' {{ '}'+'}' }}\n  * **End Date atual**: {{ '{'+'{' }} $('Info').item.json.tarefa.due_date || '(não definida)' {{ '}'+'}' }}\n\n  > **ATENÇÃO sobre o nome no título**: O nome que aparece no título da tarefa vem do perfil do WhatsApp do contato. **NÃO é garantido que seja o nome real da pessoa.** Nunca chame o paciente por esse nome — só use o nome que o próprio paciente informar explicitamente durante a conversa.\n</tarefa-atual>\n\n# INFORMAÇÕES DO SISTEMA\n\n<informacoes-sistema>\n  **Data e Hora Atual**: {{ '{'+'{' }} $now.format('ffff') {{ '}'+'}' }}\n</informacoes-sistema>\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        7568,
        512
      ],
      "id": "191f3ff4-32e1-47db-9978-a025533ec224",
      "name": "Agente IA Vendedora"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        7312,
        752
      ],
      "id": "aad71179-9d5d-4306-ba8c-206c5e548208",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "eJcd0dxOJyfPyUlK",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}",
        "tableName": "n8n_historico_mensagens",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        7440,
        752
      ],
      "id": "c35a1c79-80b7-45c2-ade4-9575bf7483f3",
      "name": "Memória",
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para direcionar o atendimento para o gestor responsável.",
        "workflowId": {
          "__rl": true,
          "value": "4ERdPsvZUMdUUHxA",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}",
            "id_conversa": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
            "id_conta": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
            "resumo_conversa": "={{ '{'+'{' }} $fromAI('resumo_conversa', `Um breve resumo com pontos chave da conversa.`, 'string') {{ '}'+'}' }}",
            "ultima_mensagem": "={{ '{'+'{' }} $('Coletar mensagens').item.json.mensagem {{ '}'+'}' }}",
            "nome": "={{ '{'+'{' }} $('Info').item.json.nome {{ '}'+'}' }}",
            "id_inbox": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ultima_mensagem",
              "displayName": "ultima_mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "resumo_conversa",
              "displayName": "resumo_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_inbox",
              "displayName": "id_inbox",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        8368,
        752
      ],
      "id": "19f72e18-abb5-46f8-adac-241821ae59a8",
      "name": "Escalar humano"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "853c68fb-c9c6-4c09-8715-f8cf41edb77e",
              "leftValue": "={{ '{'+'{' }} $('Info').item.json.id_mensagem_referenciada {{ '}'+'}' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6880,
        528
      ],
      "id": "c659fff8-ac98-4f9b-a5f0-2c335038ed44",
      "name": "Resposta a outra mensagem?"
    },
    {
      "parameters": {
        "operation": "listMessages",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "fetchAtLeast": 50,
        "listMessagesOptions": {}
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        7120,
        480
      ],
      "id": "d2ba3bf3-50e6-43dc-9e50-3af04e3386e5",
      "name": "Buscar mensagem referenciada",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}",
            "message": "={{ '{'+'{' }}\n  {\n    type: 'ai',\n    content: '<tool-calls>'\n      + $('Output válido?').item.json.intermediateSteps\n          .map(s => `<tool-call><action>${s.action.log}</action><result>${s.observation}</result></tool-call>`)\n          .join('')\n          .replaceAll('\"', \"'\")\n      + '</tool-calls>',\n    tool_calls: [],\n    additional_kwargs: {},\n    response_metadata: {},\n    invalid_tool_calls: []\n  }.toJsonString()\n{{ '}'+'}' }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        8832,
        480
      ],
      "id": "2261b30d-ce96-4aa8-8ca8-6f6d64c49601",
      "name": "Salvar tool calls",
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "063ab981-e52e-4779-9c1a-8d6dfa384643",
              "leftValue": "={{ '{'+'{' }} $('Output válido?').item.json.intermediateSteps {{ '}'+'}' }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8592,
        576
      ],
      "id": "0005d4a4-e8db-44eb-9fe5-f992bc7ad2f2",
      "name": "Usou tools?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "93a1e408-265a-438d-b860-1ea7f6a79f93",
              "leftValue": "={{ '{'+'{' }} $json.output {{ '}'+'}' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e5ed93cc-0025-4858-a0e5-b621594b01de",
              "leftValue": "={{ '{'+'{' }} $json.output {{ '}'+'}' }}",
              "rightValue": "Agent stopped due to max iterations.",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7904,
        512
      ],
      "id": "76b9179a-644e-46e8-9a02-8efb85a28da7",
      "name": "Output válido?"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        8192,
        528
      ],
      "id": "c4b7499e-6ebe-49be-9d05-97f91f0559e4",
      "name": "Limpar status atendimento",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "90e45739-ca71-412c-83e5-789796d3de20",
              "leftValue": "={{ '{'+'{' }} $json {{ '}'+'}' }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8368,
        192
      ],
      "id": "9da6d5a0-dd6f-4fd9-924f-0333e5158b3c",
      "name": "Recebeu mensagem enquanto respondia?",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        8192,
        192
      ],
      "id": "c91dfd9d-1dbb-4562-bf91-82505933d08c",
      "name": "Buscar novas entradas na fila",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "063ab981-e52e-4779-9c1a-8d6dfa384643",
              "leftValue": "={{ '{'+'{' }} $('Output válido?').item.json.intermediateSteps {{ '}'+'}' }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8928,
        80
      ],
      "id": "88fd078b-87ac-4f61-b80b-a849f0a6726a",
      "name": "Usou tools?1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        8592,
        80
      ],
      "id": "de035803-9299-40c9-8279-2c5b198d5a12",
      "name": "Buscar mensagens na memória",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ '{'+'{' }} $('Buscar mensagens na memória').item.json.id {{ '}'+'}' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        8768,
        80
      ],
      "id": "61dc431f-fa0a-4ac4-8d71-2ca112287de5",
      "name": "Deletar última mensagem da memória",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_historico_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}",
            "message": "={{ '{'+'{' }}\n  {\n    type: 'ai',\n    content: '<tool-calls>'\n      + $('Output válido?').item.json.intermediateSteps\n          .map(s => `<tool-call><action>${s.action.log}</action><result>${s.observation}</result></tool-call>`)\n          .join('')\n          .replaceAll('\"', \"'\")\n      + '</tool-calls>',\n    tool_calls: [],\n    additional_kwargs: {},\n    response_metadata: {},\n    invalid_tool_calls: []\n  }.toJsonString()\n{{ '}'+'}' }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9152,
        0
      ],
      "id": "2da327fa-0682-48ce-ace1-54ccd88e540a",
      "name": "Salvar tool calls3",
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9392,
        96
      ],
      "id": "51132be9-e955-4c25-acf2-ee9476796a3f",
      "name": "Limpar status atendimento3",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "=Problema no output do agente: {{ '{'+'{' }} $('Output válido?').item.json.output {{ '}'+'}' }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        8368,
        528
      ],
      "id": "3b6ad51e-8a51-4496-a37a-ecebe7c465c8",
      "name": "Output inválido"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ '{'+'{' }} $('Output válido?').item.json.output {{ '}'+'}' }}",
        "messages": {
          "messageValues": [
            {
              "message": "=# PAPEL\n\n<papel>\n  Você é um agente especialista em text-to-speech e formatação SSML. Sua missão é receber um texto e convertê-lo para o formato SSML, tornando-o mais natural e fluido no processo de geração de voz. Você transforma números, datas, telefones e endereços em suas formas faladas, remove elementos visuais incompatíveis com áudio e estrutura o texto dentro de tags SSML.\n</papel>\n\n# OBJETIVO\n\n<objetivo>\n  Receber um texto como entrada e retornar o mesmo conteúdo convertido em SSML, com:\n  1. Números, datas, telefones e endereços convertidos para forma falada natural\n  2. Emojis removidos\n  3. Vírgulas excessivas revisadas para fluidez na fala\n  4. Texto envolvido na tag `<speak>` com pausa inicial de 1.0s\n</objetivo>\n\n# REGRAS DE CONVERSÃO\n\n<regras-conversao>\n  ## Números de pedido, protocolos e códigos\n\n  Números longos (6 ou mais dígitos) que representam pedidos, protocolos, códigos de rastreio ou identificadores devem ser lidos dígito por dígito, agrupados em blocos de 3 dígitos separados por vírgula.\n\n  * Entrada: `pedido 187515955` → Saída: `pedido um oito sete, cinco um cinco, nove cinco cinco`\n  * Entrada: `protocolo 123456789` → Saída: `protocolo um dois três, quatro cinco seis, sete oito nove`\n  * Entrada: `código 45678` → Saída: `código quatro cinco seis sete oito`\n\n  ## Datas e horas\n\n  Converta datas e horas para um formato natural quando falado.\n\n  * Entrada: `10:00` → Saída: `dez horas`\n  * Entrada: `22:00` → Saída: `vinte e duas horas`\n  * Entrada: `14:30` → Saída: `quatorze e trinta`\n  * Entrada: `01/01/2025` → Saída: `primeiro de janeiro de 2025`\n\n  ## Telefones\n\n  Converta para formato falado natural. Para o DDD, converta sempre em dezena. Para os demais blocos, adicione pausas (vírgulas) entre cada grupo.\n\n  * Entrada: `(11) 1234-5678` → Saída: `onze, um dois três quatro, cinco seis sete oito`\n  * Entrada: `(11) 99999-9999` → Saída: `onze, nove nove nove nove nove, nove nove nove nove`\n\n  ## Endereços\n\n  Expanda abreviações e converta números de CEP para forma falada.\n\n  * Entrada: `Av. Rondon Pacheco` → Saída: `Avenida Rondon Pacheco`\n  * Entrada: `R. das Flores` → Saída: `Rua das Flores`\n  * Entrada: `CEP 12345-000` → Saída: `CEP um dois três quatro cinco zero zero zero`\n\n  ## Valores monetários\n\n  Converta valores para forma falada natural.\n\n  * Entrada: `R$ 500,00` → Saída: `quinhentos reais`\n  * Entrada: `R$ 1.250,50` → Saída: `mil duzentos e cinquenta reais e cinquenta centavos`\n</regras-conversao>\n\n# REGRAS GERAIS\n\n<regras-gerais>\n  * Sempre coloque uma pausa (`<break time=\"1.0s\"/>`) no começo, logo após a tag `<speak>`\n  * **NÃO** use breaks no meio do texto — apenas no começo\n  * Mantenha o conteúdo original do texto, apenas converta os formatos para forma falada\n  * Revise vírgulas excessivas para deixar o texto mais natural ao falar\n  * Remova todos os emojis\n  * Envolva toda a saída na tag `<speak>`\n  * **NUNCA** inclua caractere de nova linha `\\n` na saída — retorne tudo em uma única linha\n  * **NUNCA** envolva a saída em blocos de código (como ```ssml)\n</regras-gerais>\n\n# EXEMPLOS\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga as regras e adapte conforme necessário.\n\n  ## Exemplo 1: Mensagem com data, horário e endereço\n\n  **Entrada:**\n\n  Seu agendamento foi confirmado para 12/12/2025 às 09:00 com o Dr. Roberto Almeida. O endereço é Av. das Palmeiras, 1500.\n\n  **Saída esperada:**\n\n  `<speak><break time=\"1.0s\"/>Seu agendamento foi confirmado para doze de dezembro de 2025 às nove horas com o Doutor Roberto Almeida. O endereço é Avenida das Palmeiras, 1500.</speak>`\n\n  ---\n\n  ## Exemplo 2: Mensagem com telefone e valor\n\n  **Entrada:**\n\n  O valor da consulta é R$ 500,00. Para mais informações, ligue para (11) 4456-7890 📞\n\n  **Saída esperada:**\n\n  `<speak><break time=\"1.0s\"/>O valor da consulta é quinhentos reais. Para mais informações, ligue para onze, quatro quatro cinco seis, sete oito nove zero</speak>`\n\n  ---\n\n  ## Exemplo 3: Mensagem com protocolo\n\n  **Entrada:**\n\n  Seu protocolo de atendimento é 987654321. Guarde esse número! 😊\n\n  **Saída esperada:**\n\n  `<speak><break time=\"1.0s\"/>Seu protocolo de atendimento é nove oito sete, seis cinco quatro, três dois um. Guarde esse número!</speak>`\n</exemplos>\n\n# FORMATO DE RESPOSTA\n\n<formato-resposta>\n  Responda **apenas** com o texto convertido em SSML, sem introduções, explicações ou textos adicionais. A saída deve ser uma única linha contendo o texto dentro da tag `<speak>`.\n</formato-resposta>\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        9280,
        416
      ],
      "id": "ae30460f-62d2-4d06-9ad7-2868c69c3064",
      "name": "Formatar SSML",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ '{'+'{' }} $('Output válido?').item.json.output {{ '}'+'}' }}",
        "messages": {
          "messageValues": [
            {
              "message": "=# PAPEL\n\n<papel>\n  Você é um agente especialista em pós-processamento de mensagens para WhatsApp. Sua missão é receber uma mensagem gerada por outro agente e realizar duas operações essenciais: **formatar o texto** para o padrão do WhatsApp e **dividir em múltiplas mensagens menores**, simulando o comportamento natural de um humano digitando e enviando aos poucos.\n</papel>\n\n# OBJETIVO\n\n<objetivo>\n  Receber uma mensagem longa como entrada e retornar o texto:\n  1. **Formatado** para WhatsApp (ajustando marcadores de negrito e removendo cabeçalhos Markdown)\n  2. **Dividido** em blocos menores separados por `\\n\\n`, como um humano faria ao enviar mensagens em sequência\n</objetivo>\n\n# REGRAS DE FORMATAÇÃO\n\n<regras-formatacao>\n  ### Substituições obrigatórias\n\n  * Substitua `**` por `*` (negrito Markdown → negrito WhatsApp)\n  * Remova todos os `#` de cabeçalhos Markdown\n\n  ### Preservação\n\n  * Não altere o conteúdo textual da mensagem\n  * Não reescreva frases, apenas formate\n  * Mantenha links, e-mails, telefones e valores monetários intactos\n</regras-formatacao>\n\n# REGRAS DE DIVISÃO\n\n<regras-divisao>\n  ## Princípios\n\n  * Divida a mensagem em blocos menores respeitando a pontuação e pausas naturais\n  * As divisões devem parecer naturais — como uma pessoa que digita e envia aos poucos\n  * Evite cortar frases no meio\n  * Mantenha a mesma ordem do texto original\n  * Remova vírgulas e pontos nos finais das mensagens, quando necessário\n  * Tente manter cada bloco entre 1 a 4 frases no máximo, se o texto permitir\n\n  ### Limites\n\n  * **NUNCA divida a mensagem em mais de 5 partes**\n  * **NUNCA quebre listas em múltiplas mensagens** — mantenha todos os itens de lista no mesmo bloco\n\n  ### Marcador de quebra\n\n  * Use `\\n\\n` (duas quebras de linha) para separar cada bloco de mensagem\n</regras-divisao>\n\n# EXEMPLOS\n\n<exemplos>\n  **ATENÇÃO**: Estes são exemplos ilustrativos. Sempre siga as regras e adapte conforme necessário.\n\n  ### Exemplo 1: Mensagem simples\n\n  **Entrada:**\n\n  Oi! Tudo bem por aí? Estava pensando em te mandar aquele documento ainda hoje, mas antes queria tirar umas dúvidas. Você pode me ligar assim que puder?\n\n  **Saída esperada:**\n\n  Oi! Tudo bem por aí?\n\n  Estava pensando em te mandar aquele documento ainda hoje, mas antes queria tirar umas dúvidas.\n\n  Você pode me ligar assim que puder?\n\n  ---\n\n  ### Exemplo 2: Mensagem com lista (NÃO QUEBRAR)\n\n  **Entrada:**\n\n  Oi! Seguem os documentos que você pediu:\n  1. Contrato assinado\n  2. Comprovante de pagamento\n  3. Nota fiscal\n  4. Certificado de conclusão\n  Me avisa quando receber tudo!\n\n  **Saída esperada:**\n\n  Oi! Seguem os documentos que você pediu:\n\n  1. Contrato assinado\n  2. Comprovante de pagamento\n  3. Nota fiscal\n  4. Certificado de conclusão\n\n  Me avisa quando receber tudo!\n\n  **❌ INCORRETO (não fazer):**\n\n  Oi! Seguem os documentos que você pediu:\n\n  1. Contrato assinado\n\n  2. Comprovante de pagamento\n\n  3. Nota fiscal\n\n  4. Certificado de conclusão\n\n  Me avisa quando receber tudo!\n\n  ---\n\n  ### Exemplo 3: Mensagem com formatação Markdown\n\n  **Entrada:**\n\n  Olá! Estou te mandando essa mensagem para explicar melhor o que aconteceu ontem. Eu cheguei lá por volta das **18h**, como combinado, mas não encontrei ninguém. Será que houve algum problema?\n\n  **Saída esperada:**\n\n  Olá! Estou te mandando essa mensagem para explicar melhor o que aconteceu ontem\n\n  Eu cheguei lá por volta das *18h*, como combinado, mas não encontrei ninguém\n\n  Será que houve algum problema?\n\n  ---\n\n  ### Exemplo 4: Mensagem com cabeçalho Markdown\n\n  **Entrada:**\n\n  ## Informações importantes\n  Seu agendamento foi confirmado para amanhã às 09:00 com o **Dr. Roberto Almeida**. O valor da consulta é **R$ 500,00**. Formas de pagamento: PIX, cartão ou dinheiro. Lembrando que nosso endereço é Av. das Palmeiras, 1500 - Jardim América.\n\n  **Saída esperada:**\n\n  Informações importantes\n\n  Seu agendamento foi confirmado para amanhã às 09:00 com o *Dr. Roberto Almeida*\n\n  O valor da consulta é *R$ 500,00*. Formas de pagamento: PIX, cartão ou dinheiro\n\n  Lembrando que nosso endereço é Av. das Palmeiras, 1500 - Jardim América\n</exemplos>\n\n# FORMATO DE RESPOSTA\n\n<formato-resposta>\n  Responda **apenas** com a mensagem formatada e dividida, sem introduções, explicações ou textos adicionais. Cada bloco de mensagem deve ser separado por `\\n\\n`.\n</formato-resposta>\n"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        9264,
        784
      ],
      "id": "8301af19-59e9-41ab-99b5-813ded59c6de",
      "name": "Formatar texto",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        9280,
        592
      ],
      "id": "d7c7a2aa-8819-4fcd-9d4c-c55b4f12b159",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "eJcd0dxOJyfPyUlK",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        9264,
        944
      ],
      "id": "e081e056-6cf1-4f29-850c-61c5c2a6bad7",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "eJcd0dxOJyfPyUlK",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}",
            "lock_conversa": false
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lock_conversa",
              "displayName": "lock_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        10288,
        736
      ],
      "id": "fd1cce06-0ed1-4db9-b24d-081c288b0460",
      "name": "Limpar status atendimento1",
      "alwaysOutputData": false,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "A0TrOIuDF5Cqmwk8",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "updatePresence",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "typingStatus": "recording"
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        9600,
        560
      ],
      "id": "5b9352ab-316e-4ffa-8895-aaf2b1d26ab8",
      "name": "Gravando...",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "resource": "speech",
        "voice": {
          "__rl": true,
          "value": "33B4UnXyTNbgLmdEDh5P",
          "mode": "list"
        },
        "text": "={{ '{'+'{' }} $('Formatar SSML').item.json.text {{ '}'+'}' }}",
        "additionalOptions": {
          "model": {
            "__rl": true,
            "value": "eleven_flash_v2_5",
            "mode": "list"
          },
          "outputFormat": "mp3_44100_32",
          "languageCode": "pt-BR",
          "voiceSettings": "{\n  \"stability\": 0.35,\n  \"similarity_boost\": 0.44,\n  \"speed\": 1.1\n}"
        },
        "requestOptions": {}
      },
      "type": "@elevenlabs/n8n-nodes-elevenlabs.elevenLabs",
      "typeVersion": 1,
      "position": [
        9792,
        560
      ],
      "id": "ad736845-3e9d-4dfa-8b5f-2153393f4ae3",
      "name": "Gerar áudio",
      "retryOnFail": true,
      "credentials": {
        "elevenLabsApi": {
          "id": "0NQLQnLw1RQWludN",
          "name": "ElevenLabs account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "sendFile",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "isRecordedAudio": true,
        "sendFileOptions": {
          "attachmentMetadata": "={{ '{'+'{' }}\n{\n  transcribed_text: $('Output válido?').item.json.output\n}.toJsonString()\n{{ '}'+'}' }}"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        9984,
        560
      ],
      "id": "3108e817-e063-4830-a7be-3b1ae187edd5",
      "name": "Enviar áudio",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "content": "={{ '{'+'{' }} $('Formatar texto').item.json.text {{ '}'+'}' }}",
        "replyToMessageId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {
          "split_message": true,
          "wait_before_sending": "dynamic"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        9664,
        784
      ],
      "id": "b78297ee-46f6-4c90-a13e-05dd38e064b2",
      "name": "Enviar texto",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para buscar as janelas disponíveis no um período especificado. Evite utilizar com janelas de tamanho muito grandes e muito pequenas. Por exemplo, considerando disponibilidade já informada das 08h às 19h:\n\n* Para janelas maiores, não busque com período fora do horário de disponibilidade já informado nas instruções.\n\n\"Quais janelas estão disponíveis amanhã?\"\n- Período início: 08h, período fim: 19h\n- (Ao invés de 00h às 00h do dia seguinte)\n\n* Para janelas menores, insira uma margem antes e depois do horário desejado.\n\n\"O horário das 12h está disponível?\"\n- Período início: 10h, período fim: 14h\n- (Ao invés de 12h às 12h30, para tamanho de janela de 30m)\n\n* Para janelas muito próximas do horário atual, certifique-se de não consultar com período início no passado.\n\n\"Tem algum horário agora de manhã?\" (Mensagem recebida às 09:40)\n- Período início: 10h, período fim: 12h\n- (Ao invés de 09h às 12h, pois 09h já passou) ",
        "workflowId": {
          "__rl": true,
          "value": "W3GTfAdCmIR10Cwu",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "tamanho_janela_minutos": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('tamanho_janela_minutos', ``, 'number') {{ '}'+'}' }}",
            "granularidade": 15,
            "periodo_inicio": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_inicio', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') {{ '}'+'}' }}",
            "periodo_fim": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('periodo_fim', \"Deve ser uma data e horário no futuro. Datas passadas são inválidas. A data deve ser no formato: `YYYY-MM-DDThh:mm:ssTZD`. Utilize o fuso horário conforme a data atual.\", 'string') {{ '}'+'}' }}",
            "id_profissional": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('id_profissional', `ID do profissional conforme listado nas instruções.`, 'string') {{ '}'+'}' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "periodo_inicio",
              "displayName": "periodo_inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "periodo_fim",
              "displayName": "periodo_fim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_profissional",
              "displayName": "id_profissional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tamanho_janela_minutos",
              "displayName": "tamanho_janela_minutos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "granularidade",
              "displayName": "granularidade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "amostras",
              "displayName": "amostras",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        7616,
        752
      ],
      "id": "c76c6179-1298-4524-9bc9-c2bc0636a22d",
      "name": "Buscar janelas disponiveis"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para buscar os agendamentos já existentes para o contato atual. Utilize antes de criar novos agendamentos, para evitar agendamentos duplicados.",
        "workflowId": {
          "__rl": true,
          "value": "vPnb1LLIfh3W1mrA",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_profissional": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('id_profissional', ``, 'string') {{ '}'+'}' }}",
            "telefone": "={{ '{'+'{' }} $('Info').item.json.telefone {{ '}'+'}' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_profissional",
              "displayName": "id_profissional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        7872,
        752
      ],
      "id": "cab29050-6264-4dc8-ac1d-11772f2379ce",
      "name": "Buscar agendamentos do contato"
    },
    {
      "parameters": {
        "description": "Utilize essa ferramenta para cancelar um agendamento.",
        "workflowId": {
          "__rl": true,
          "value": "95fbsY7J9tKzdhUj",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id_profissional": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('id_profissional', ``, 'string') {{ '}'+'}' }}",
            "id_conversa": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
            "id_evento": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('id_evento', ``, 'string') {{ '}'+'}' }}",
            "motivo_cancelamento": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('motivo_cancelamento', ``, 'string') {{ '}'+'}' }}",
            "id_conta": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
            "tarefa": "={{ '{'+'{' }} $('Info').item.json.tarefa {{ '}'+'}' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id_profissional",
              "displayName": "id_profissional",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_evento",
              "displayName": "id_evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "tarefa",
              "displayName": "tarefa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "motivo_cancelamento",
              "displayName": "motivo_cancelamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        7744,
        912
      ],
      "id": "7144eec8-e422-49ca-a76a-701ed1d3b484",
      "name": "Cancelar agendamento"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "99afa8c2-1745-424a-80c6-7cd4ad852f62",
              "leftValue": "={{ '{'+'{' }} $('Info').item.json.mensagem_de_audio {{ '}'+'}' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        9040,
        592
      ],
      "id": "7e229421-6bdc-4d57-b961-fe14906c4ac9",
      "name": "Áudio?"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.\n\nIgnore a saída dessa ferramenta, ela é a mensagem enviada para o contato.\n\n**NUNCA UTILIZE ESSA FERRAMENTA MÚLTIPLAS VEZES SEGUIDAS**",
        "operation": "sendMessage",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "content": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('Content', ``, 'string') {{ '}'+'}' }}",
        "replyToMessageId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_mensagem {{ '}'+'}' }}",
          "mode": "id"
        },
        "additionalFields": {
          "is_reaction": true
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwootTool",
      "typeVersion": 1,
      "position": [
        8224,
        752
      ],
      "id": "044fe3c5-995c-4e1c-8dfb-05ae0e9d0d5a",
      "name": "Reagir mensagem",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Use essa ferramenta para atualizar a tarefa.\n\n### IDs etapas\n\n{{ '{'+'{' }} $('Info').item.json.tarefa.board.steps.map(s => `${s.name}: ${s.id}`) {{ '}'+'}' }}\n\n**USAR ID DA ETAPA ATUAL CASO NÃO HAJA ATUALIZAÇÃO NA ETAPA**\n\n### Descrição\n\nAo adicionar informações na descrição, sempre inclua a descrição original. NUNCA omita a descrição original, a não ser que o objetivo seja remover a informação.",
        "resource": "kanbanTask",
        "operation": "update",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "kanbanBoardId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.tarefa.board.id {{ '}'+'}' }}",
          "mode": "id"
        },
        "kanbanTaskId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Info').item.json.tarefa.id {{ '}'+'}' }}",
          "mode": "id"
        },
        "updateFields": {
          "title": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') {{ '}'+'}' }}",
          "description": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') {{ '}'+'}' }}",
          "board_step_id": {
            "mode": "list",
            "value": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('Kanban_Step', ``, 'string') {{ '}'+'}' }}"
          },
          "due_date": "={{ '{'+'{' }} /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Date', `Data limite da tarefa no formato ISO 8601 com fuso horário (ex: 2026-02-10T18:00:00-03:00). Para agendamentos, use a véspera da consulta (data do agendamento − 1 dia). Nos demais casos, use a data atual + 1 dia para indicar quando deverá ser feito o follow-up caso o lead pare de responder.`, 'string') {{ '}'+'}' }}"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwootTool",
      "typeVersion": 1,
      "position": [
        8080,
        752
      ],
      "id": "9fa6ea9a-bff5-43b3-a0dd-79068f24967e",
      "name": "Atualizar tarefa",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "<SELECIONE SUA CONTA>"
        },
        "events": [
          "message_incoming"
        ],
        "inboxId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "<SELECIONE SUA INBOX>"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwootTrigger",
      "typeVersion": 1,
      "position": [
        2704,
        784
      ],
      "id": "3327e681-de1c-47aa-84f5-d09255e061c6",
      "name": "Gatilho Instagram",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "accountId": {
          "__rl": true,
          "value": "2",
          "mode": "id"
        },
        "events": [
          "message_incoming"
        ],
        "inboxId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "<SELECIONE SUA INBOX>"
        }
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwootTrigger",
      "typeVersion": 1,
      "position": [
        2704,
        576
      ],
      "id": "9bbfa001-93a1-4841-94c2-fc82626717ec",
      "name": "Gatilho WhatsApp",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/vYtaGw3vRII/maxresdefault.webp)](https://www.youtube.com/watch?v=vYtaGw3vRII)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2496,
        -736
      ],
      "id": "a13f9434-5790-4bb5-91f4-be3c1899d53c",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3008,
        -736
      ],
      "id": "9a4fbfb5-3362-4270-8a9c-c933a8af21e0",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIwa)",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1936,
        -288
      ],
      "id": "1ca9945b-c388-4b7a-aef2-11c39cd3ac1e",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIwa)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        -176
      ],
      "id": "f58b9b96-abfa-4713-812d-5e7df3c162cb",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1936,
        -736
      ],
      "id": "5e1a1654-0232-427f-bf2c-8ecfea229c22",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Fila de mensagens - Usuário",
        "height": 672,
        "width": 976,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5648,
        384
      ],
      "id": "30c906dc-2834-4c11-baad-8c48bde6e5a2",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Agente",
        "height": 672,
        "width": 1248
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7280,
        384
      ],
      "id": "e179ef77-663d-4d0a-bc2d-6c9bd7c0f287",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Formatar e enviar",
        "height": 672,
        "width": 1520,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8976,
        384
      ],
      "id": "366d0aa8-46d2-45b2-87e5-a54014369df4",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] Configurar node Info\n- [ ] Credenciais: OpenAI, Chatwoot, Postgres, ElevenLabs\n- [ ] Conectar subworkflows 02 a 07\n- [ ] Ajustar System Prompt",
        "height": 192,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2784,
        -224
      ],
      "id": "c8c3c1a1-ac42-4d31-8d61-2545106afa57",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Descartar mensagem do agente\n\nSe o usuário enviar uma mensagem enquanto o agente estava processando a mensagem anterior, o workflow irá descartar a mensagem do agente.\n\nIsso melhora situações em que o usuário mandou uma nova mensagem, mas o agente ainda tenta responder a mensagem anterior do usuário, sem o contexto da nova mensagem.\n",
        "height": 512,
        "width": 1440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8112,
        -144
      ],
      "typeVersion": 1,
      "id": "6008bac4-6c57-40fe-ae7d-3d053c98b663",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Salvar chamadas de ferramenta",
        "height": 384,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        8544,
        384
      ],
      "typeVersion": 1,
      "id": "acc3cbb8-baf9-44b2-8e24-b19f4331e968",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Pré-processamento de mensagens",
        "height": 672,
        "width": 3024,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2608,
        384
      ],
      "typeVersion": 1,
      "id": "2fe3512c-9c37-45c9-a5a5-150a44cb0e9b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### Salvar ID conversa\n\nCom esse node, agora é possível pesquisar por conversas específicas nas execuções do n8n!",
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3472,
        864
      ],
      "typeVersion": 1,
      "id": "2a9feb03-a1c1-40b0-9a08-3fe6eb3872c9",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### Salvar transcrições\n\nAgora as transcrições dos áudios aparecem direto na interface do Chatwoot!",
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5280,
        416
      ],
      "typeVersion": 1,
      "id": "050df60b-4939-4d59-98c1-bcd15eae9e19",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "### Marcar como lida e Reply do WhatsApp",
        "height": 352,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6640,
        384
      ],
      "typeVersion": 1,
      "id": "26760d0b-c4c9-44e0-8ab6-b4bc04a2f3bd",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "### Fallback de texto\n\nSe acabar os créditos na ElevenLabs, ou der algum erro, a mensagem é enviada como texto.",
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9712,
        432
      ],
      "typeVersion": 1,
      "id": "a107c231-d713-466f-a70a-24d23a9faef5",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "### Enviar com split e digitando\n\nO node `sendMessage` do community node Chatwoot fazer.ai substitui completamente o workflow 07 da Secretária v3!",
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        9568,
        944
      ],
      "typeVersion": 1,
      "id": "955e14a7-b387-465b-92af-602cdb146e98",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "[![ElevenLabs](https://framerusercontent.com/images/YU6MnXR7ZjWNRjlYzx2Hrpcx0.png)](https://try.elevenlabs.io/n8n-kanban-clinicas)",
        "height": 80,
        "width": 160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        10064,
        -96
      ],
      "id": "98d9ce9c-c68d-4229-9bf6-73a5c2c558eb",
      "name": "Sticky Note28"
    },
    {
      "parameters": {
        "content": "# Checklist - ElevenLabs\n\n[Clique aqui para criar sua conta gratuita no ElevenLabs](https://try.elevenlabs.io/n8n-kanban-clinicas)\n\n- [ ] Acessar biblioteca de vozes e escolher uma voz. Recomendamos usar a [Keren](https://elevenlabs.io/app/voice-library?voiceId=33B4UnXyTNbgLmdEDh5P)\n- [ ] Clicar no \"+\" (\"Add to my voices\") e clicar no novo botão que irá surgir (\"Use voice\")\n- [ ] Caso ainda não tenha feito, buscar e instalar node `ElevenLabs` (atualizar a página pra aparecer o node)\n- [ ] Ajustar características da voz no node \"Gerar áudio\". Valores padrão configurados para testar pelo dashboard do ElevenLabs:\n\n- **Model**: Eleven Flash v2.5\n- **Speed**: 1.10\n- **Stability**: 35%\n- **Similarity**: 44%\n\n- [ ] Criar credencial -> https://elevenlabs.io/app/developers/api-keys (marcar opções `Text to Speech: Access`, `Voices: Read`, `Models: Read`)",
        "height": 464,
        "width": 656,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        9616,
        -112
      ],
      "id": "73970867-73fc-4725-a98b-683721949154",
      "name": "Sticky Note24"
    }
  ],
  "pinData": {},
  "connections": {
    "Info": {
      "main": [
        [
          {
            "node": "Reset ou teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar memória": {
      "main": [
        [
          {
            "node": "Resetar atributos contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status atendimento": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset ou teste": {
      "main": [
        [
          {
            "node": "Limpar memória",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Colocar etiqueta testando-agente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente ativado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar atributos contato": {
      "main": [
        [
          {
            "node": "Resetar atributos conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar atributos conversa": {
      "main": [
        [
          {
            "node": "Resetar etiquetas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resetar etiquetas": {
      "main": [
        [
          {
            "node": "Resetar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens": {
      "main": [
        [
          {
            "node": "Enviar memória resetada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Colocar etiqueta testando-agente": {
      "main": [
        [
          {
            "node": "Enviar teste habilitado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente ativado?": {
      "main": [
        [
          {
            "node": "Salvar id_conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcrever audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever audio": {
      "main": [
        [
          {
            "node": "Extrair mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Download áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrair mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrair mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrair mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extrair mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar id_conversa": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair mensagem": {
      "main": [
        [
          {
            "node": "Áudio ou imagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Áudio ou imagem?": {
      "main": [
        [
          {
            "node": "Salvar transcrição/descrição",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem encavalada?": {
      "main": [
        [
          {
            "node": "Verificar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente já terminou de responder?": {
      "main": [
        [
          {
            "node": "Bloquear status atendimento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar status atendimento": {
      "main": [
        [
          {
            "node": "Agente já terminou de responder?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bloquear status atendimento": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar transcrição/descrição": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens1": {
      "main": [
        [
          {
            "node": "Marcar como lida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lida": {
      "main": [
        [
          {
            "node": "Resposta a outra mensagem?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coletar mensagens": {
      "main": [
        [
          {
            "node": "Agente IA Vendedora",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Agente IA Vendedora",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória": {
      "ai_memory": [
        [
          {
            "node": "Agente IA Vendedora",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Resposta a outra mensagem?": {
      "main": [
        [
          {
            "node": "Buscar mensagem referenciada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Coletar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagem referenciada": {
      "main": [
        [
          {
            "node": "Coletar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar tool calls": {
      "main": [
        [
          {
            "node": "Áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usou tools?": {
      "main": [
        [
          {
            "node": "Salvar tool calls",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output válido?": {
      "main": [
        [
          {
            "node": "Buscar novas entradas na fila",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar status atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar status atendimento": {
      "main": [
        [
          {
            "node": "Output inválido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebeu mensagem enquanto respondia?": {
      "main": [
        [
          {
            "node": "Buscar mensagens na memória",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Usou tools?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar novas entradas na fila": {
      "main": [
        [
          {
            "node": "Recebeu mensagem enquanto respondia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usou tools?1": {
      "main": [
        [
          {
            "node": "Salvar tool calls3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limpar status atendimento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens na memória": {
      "main": [
        [
          {
            "node": "Deletar última mensagem da memória",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar última mensagem da memória": {
      "main": [
        [
          {
            "node": "Usou tools?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar tool calls3": {
      "main": [
        [
          {
            "node": "Limpar status atendimento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente IA Vendedora": {
      "main": [
        [
          {
            "node": "Output válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar SSML": {
      "main": [
        [
          {
            "node": "Gravando...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar texto": {
      "main": [
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar SSML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar texto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gravando...": {
      "main": [
        [
          {
            "node": "Gerar áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar áudio": {
      "main": [
        [
          {
            "node": "Enviar áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar áudio": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Limpar status atendimento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Vendedora",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar janelas disponiveis": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Vendedora",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Vendedora",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar agendamentos do contato": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Vendedora",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Escalar humano": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Vendedora",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Vendedora",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Vendedora",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Áudio?": {
      "main": [
        [
          {
            "node": "Formatar SSML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reagir mensagem": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Vendedora",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar tarefa": {
      "ai_tool": [
        [
          {
            "node": "Agente IA Vendedora",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho Instagram": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho WhatsApp": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "WELEbcC5ofO98VBT"
}