artifacts/clinica/public/workflows/07_escalar.json
{
  "name": "07. Escalar humano v2",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "telefone"
            },
            {
              "name": "nome"
            },
            {
              "name": "ultima_mensagem"
            },
            {
              "name": "resumo_conversa"
            },
            {
              "name": "id_conta"
            },
            {
              "name": "id_conversa"
            },
            {
              "name": "id_inbox"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1232,
        928
      ],
      "id": "172ccf6e-5593-4163-a5fd-69339ac14e35",
      "name": "Gatilho"
    },
    {
      "parameters": {
        "content": "# Checklist\n- [ ] Abrir nodes do Chatwoot para selecionar credencial",
        "height": 128,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        1152
      ],
      "id": "0188e50f-2e7d-4afa-b168-11f6e18034ce",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Colocar etiqueta e enviar alerta",
        "height": 352,
        "width": 704,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        832
      ],
      "typeVersion": 1,
      "id": "9b82fbf8-9088-46d2-a990-946e6b252f4a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Quer entender como funciona?\n\n\n### Assista o vídeo, deixe um like, e se inscreva no canal para ter acesso a mais workflows como esse!\n\n[![Vídeo YouTube Secretária v3](https://i1.ytimg.com/vi_webp/vYtaGw3vRII/maxresdefault.webp)](https://www.youtube.com/watch?v=vYtaGw3vRII)",
        "height": 440,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        304
      ],
      "id": "e7adb55f-56d5-4965-8980-64c1a04baad1",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## [Clique aqui e entre agora para tirar suas dúvidas](https://lucasmoreira.fazer.ai)\n[![Banner comunidade](https://framerusercontent.com/images/KIXMxk9eKCoCsNeVm1oaz5HnaQ.png)](https://lucasmoreira.fazer.ai)",
        "height": 440,
        "width": 1380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1472,
        304
      ],
      "id": "b3d64d99-e80e-4947-bc8f-48e749418555",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "[![fazer.ai](https://framerusercontent.com/images/HqY9djLTzyutSKnuLLqBr92KbM.png?scale-down-to=256)](https://fazer.ai?utm_source=n8n&utm_campaign=sec-v3)\n\n## Esse é um template faça você mesmo do canal\n## Lucas Moreira\n\n### Inscreva-se no nosso canal no YouTube\n[![YouTube Lucas Moreira](https://img.shields.io/youtube/channel/subscribers/UCtmp6SxzLscu0GRTbgM8FTw?style=flat-square&logo=youtube&label=Inscreva-se&color=f00)](https://youtube.com/@eulucassmoreira?si=0lH7hwX9pukjhmPQ)\n[![Instagram](https://img.shields.io/badge/instagram-black?logo=instagram&style=for-the-badge)](https://instagram.com/eulucassmoreira)\n[![GitHub fazer.ai](https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white&label)](https://github.com/fazer-ai)\n",
        "height": 440,
        "width": 550,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        304
      ],
      "id": "f39158d6-adc2-4a0f-a6c2-8dd65308d76b",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "labels": "={{ '{'+'{' }} [\"agente-off\"] {{ '}'+'}' }}"
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        1456,
        928
      ],
      "id": "21e72bba-4c3b-4bad-a25d-6e39f23bd8af",
      "name": "Adicionar etiqueta agente-off",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Usei Hostinger pra este workflow.\n## Replique aqui.\n\n\n\n\n\n\n\n\n\n## [Use o cupom `FAZERAI` pra ter 10% de desconto na sua primeira compra!](https://www.hostg.xyz/SHIwa)",
        "height": 316,
        "width": 552,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        768
      ],
      "id": "7ea98d6c-d6db-487b-80fa-aac3a23c4196",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "[![Hostinger](https://framerusercontent.com/images/ptGVDA4KqG8GLNlWRDzFxaM.png?width=600&height=119)](https://www.hostg.xyz/SHIwa)\n",
        "height": 96,
        "width": 324,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        512,
        880
      ],
      "id": "cbbcc507-f084-4e43-a2a8-475bdf9ad9ef",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "accountId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Gatilho').item.json.id_conta {{ '}'+'}' }}",
          "mode": "id"
        },
        "inboxId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Gatilho').item.json.id_inbox {{ '}'+'}' }}",
          "mode": "id"
        },
        "conversationId": {
          "__rl": true,
          "value": "={{ '{'+'{' }} $('Gatilho').item.json.id_conversa {{ '}'+'}' }}",
          "mode": "id"
        },
        "content": "=Assistente desabilitado para o usuário {{ '{'+'{' }} $('Gatilho').item.json.nome || '(usuário não cadastrado)' {{ '}'+'}' }} ({{ '{'+'{' }} $('Gatilho').item.json.telefone {{ '}'+'}' }}).\n\n*Última mensagem*:\n\n\"{{ '{'+'{' }} $('Gatilho').item.json.ultima_mensagem {{ '}'+'}' }}\"\n\n*Resumo da conversa*:\n\n\"{{ '{'+'{' }} $('Gatilho').item.json.resumo_conversa {{ '}'+'}' }}\"",
        "replyToMessageId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "additionalFields": {}
      },
      "type": "@fazer-ai/n8n-nodes-chatwoot.chatwoot",
      "typeVersion": 1,
      "position": [
        1680,
        928
      ],
      "id": "7a10361d-da69-4cba-b3ca-355e96a9159a",
      "name": "Enviar mensagem de alerta",
      "credentials": {
        "fazerAiChatwootApi": {
          "id": "JhNeYIHc3i2K3zSg",
          "name": "Chatwoot fazer.ai account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gatilho": {
      "main": [
        [
          {
            "node": "Adicionar etiqueta agente-off",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar etiqueta agente-off": {
      "main": [
        [
          {
            "node": "Enviar mensagem de alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "4ERdPsvZUMdUUHxA"
}